{
  "openapi": "3.0.3",
  "info": {
    "title": "MOBILE API V2.0",
    "version": "1.2.0",
    "description": "",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "externalDocs": {
    "description": "В случае возникновения трудностей свяжитесь с разработчиком",
    "url": "https://t.me/yugeno_0"
  },
  "servers": [
    {
      "url": "https://app.remarked.ru/api/v2"
    }
  ],
  "paths": {
    "/store/conceptions": {
      "get": {
        "tags": [
          "Заведения"
        ],
        "summary": "Список заведений",
        "description": "список заведений с указанием концепции, города и страны",
        "operationId": "Conceptions",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Bearer 1b07aea58c22b0ef07294532a1ed384"
            },
            "description": "Value to correlate API requests across systems.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "",
                      "items": {
                        "required": [
                          "name",
                          "point",
                          "address",
                          "country",
                          "concept",
                          "city",
                          "image"
                        ],
                        "properties": {
                          "name": {
                            "type": "string",
                            "default": null,
                            "description": "название заведения в RM"
                          },
                          "point": {
                            "type": "integer",
                            "format": "int64",
                            "description": "ID заведения в RM",
                            "example": 7999999
                          },
                          "address": {
                            "type": "string",
                            "default": null,
                            "description": "адрес заведения"
                          },
                          "country": {
                            "type": "string",
                            "format": "uuid",
                            "default": null,
                            "description": "страна"
                          },
                          "concept": {
                            "type": "string",
                            "default": null,
                            "description": "Концепция заведения"
                          },
                          "city": {
                            "type": "string",
                            "format": "uuid",
                            "default": null,
                            "description": "ID города"
                          },
                          "image": {
                            "type": "string",
                            "default": null,
                            "description": "основное изображение"
                          },
                          "is_root": {
                            "type": "boolean",
                            "default": false,
                            "description": "является ли заведение корневым"
                          },
                          "booking_token": {
                            "type": "string",
                            "default": null,
                            "description": "токен для системы брониронивания"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            },
            "description": "Unauthorized"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error429"
                }
              }
            },
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/store/cities": {
      "post": {
        "tags": [
          "Адрес"
        ],
        "summary": "Список городов",
        "description": "Возвращает список городов, в которых расположены заведения",
        "operationId": "Get-cities",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Bearer 1b07aea58c22b0ef07294532a1ed384"
            },
            "description": "Value to correlate API requests across systems.",
            "required": true
          }
        ],
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "region_id": {
                    "type": "string",
                    "format": "uuid",
                    "default": null,
                    "description": "Id региона"
                  },
                  "only_chains": {
                    "type": "boolean",
                    "default": true,
                    "description": "Только для сети заведений. По умолчанию `true`\r\n> (если указать `false`, вернется список всех имеющихся городов без привязки к сети)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CitiesResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            },
            "description": "Unauthorized"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error429"
                }
              }
            },
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/store/addresses/list": {
      "post": {
        "tags": [
          "Адрес"
        ],
        "summary": "Список адресов",
        "description": "Отображает адреса, которые имеются у гостя",
        "operationId": "Addresses-list",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Bearer 1b07aea58c22b0ef07294532a1ed384"
            },
            "description": "Value to correlate API requests across systems.",
            "required": true
          },
          {
            "name": "X-Guest-Session",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "1b07aea58c22b0ef07294532a1ed384"
            },
            "description": "Токен гостя из МП. **Если передан данный параметр, то поле `customer` становится не обязательным**"
          },
          {
            "name": "X-source",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "enum",
              "enum": [
                "site",
                "app",
                "qr_menu"
              ],
              "example": "app"
            },
            "description": "Источник запроса.\r\n> `site` - сайт,<br />`app` - мобильное приложение,<br />`qr_menu` - QR меню."
          }
        ],
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "customer"
                ],
                "properties": {
                  "customer": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Id гостя"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AddressResponseData"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            },
            "description": "Unauthorized"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error429"
                }
              }
            },
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/store/addresses/create": {
      "post": {
        "tags": [
          "Адрес"
        ],
        "summary": "Добавление адреса",
        "description": "Добавляет новый адрес для доставки заказа",
        "operationId": "Addresses-create",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Bearer 1b07aea58c22b0ef07294532a1ed384"
            },
            "description": "Value to correlate API requests across systems.",
            "required": true
          },
          {
            "name": "X-Guest-Session",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "1b07aea58c22b0ef07294532a1ed384"
            },
            "description": "Токен гостя из МП. **Если передан данный параметр, то поле `customer` становится не обязательным**"
          },
          {
            "name": "X-source",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "enum",
              "enum": [
                "site",
                "app",
                "qr_menu"
              ],
              "example": "app"
            },
            "description": "Источник запроса.\r\n> `site` - сайт,<br />`app` - мобильное приложение,<br />`qr_menu` - QR меню."
          }
        ],
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "customer",
                  "region",
                  "city",
                  "street",
                  "building"
                ],
                "properties": {
                  "uuid": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Id адреса(по умолчанию генерируется на строне api)"
                  },
                  "customer": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Id гостя"
                  },
                  "region": {
                    "type": "string",
                    "description": "Наименование региона"
                  },
                  "city": {
                    "type": "string",
                    "description": "Название города"
                  },
                  "street": {
                    "type": "string",
                    "description": "улица"
                  },
                  "line": {
                    "type": "string",
                    "description": "адрес в одну строку"
                  },
                  "building": {
                    "type": "string",
                    "description": "дом/строение"
                  },
                  "entrance": {
                    "type": "integer",
                    "format": "int64",
                    "description": "подъезд"
                  },
                  "floor": {
                    "type": "integer",
                    "format": "int64",
                    "description": "этаж"
                  },
                  "apartment": {
                    "type": "string",
                    "description": "квартира/офис"
                  },
                  "comment": {
                    "type": "string",
                    "description": "Комментарий к адресу"
                  },
                  "is_default": {
                    "type": "boolean",
                    "description": "Использовать адрес по умолчанию"
                  },
                  "geo_coords": {
                    "type": "object",
                    "description": "Координаты адреса",
                    "properties": {
                      "latitude": {
                        "type": "number",
                        "description": "Широта"
                      },
                      "longitude": {
                        "type": "number",
                        "description": "Долгота"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "$ref": "#/components/schemas/AddressResponseData"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            },
            "description": "Unauthorized"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error429"
                }
              }
            },
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/store/addresses/remove": {
      "post": {
        "tags": [
          "Адрес"
        ],
        "summary": "Удаление адреса",
        "description": "Удаляет ранее добавленный адрес гостя",
        "operationId": "Addresses-remove",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Bearer 1b07aea58c22b0ef07294532a1ed384"
            },
            "description": "Value to correlate API requests across systems.",
            "required": true
          },
          {
            "name": "X-Guest-Session",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "1b07aea58c22b0ef07294532a1ed384"
            },
            "description": "Токен гостя из МП. **Если передан данный параметр, то поле `customer` становится не обязательным**"
          },
          {
            "name": "X-source",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "enum",
              "enum": [
                "site",
                "app",
                "qr_menu"
              ],
              "example": "app"
            },
            "description": "Источник запроса.\r\n> `site` - сайт,<br />`app` - мобильное приложение,<br />`qr_menu` - QR меню."
          }
        ],
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "customer",
                  "uuid"
                ],
                "properties": {
                  "customer": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Id гостя"
                  },
                  "uuid": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Id адреса"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "removed": {
                      "type": "string",
                      "format": "uuid",
                      "description": "ID адреса"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            },
            "description": "Unauthorized"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error429"
                }
              }
            },
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/store/addresses/check-coords": {
      "post": {
        "tags": [
          "Адрес"
        ],
        "summary": "Валидация адреса",
        "description": "Проверка адреса на принадлежность к зоне доставки",
        "operationId": "Addresses-check-coords",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Bearer 1b07aea58c22b0ef07294532a1ed384"
            },
            "description": "Value to correlate API requests across systems.",
            "required": true
          }
        ],
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/CheckAddressRequestByUUID"
                  },
                  {
                    "$ref": "#/components/schemas/CheckAddressRequestByObject"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckAddressResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            },
            "description": "Unauthorized"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error429"
                }
              }
            },
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/store/coordinates-delivery": {
      "get": {
        "tags": [
          "Адрес"
        ],
        "summary": "Зоны доставок",
        "description": "Вовзращает список зон доставок",
        "operationId": "Coordinates-delivery-get",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Bearer 1b07aea58c22b0ef07294532a1ed384"
            },
            "description": "Value to correlate API requests across systems.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoordinatesDeliveryResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            },
            "description": "Unauthorized"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error429"
                }
              }
            },
            "description": "Too Many Requests"
          }
        }
      },
      "post": {
        "tags": [
          "Адрес"
        ],
        "summary": "Зоны доставок",
        "description": "Вовзращает список зон доставок",
        "operationId": "Coordinates-delivery-post",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Bearer 1b07aea58c22b0ef07294532a1ed384"
            },
            "description": "Value to correlate API requests across systems.",
            "required": true
          }
        ],
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "point": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Идентификатор завдения"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoordinatesDeliveryResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            },
            "description": "Unauthorized"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error429"
                }
              }
            },
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/store/customer/get-info": {
      "post": {
        "tags": [
          "Гость"
        ],
        "summary": "Информация о госте",
        "description": "Возвращает информацию о госте из Remarked",
        "operationId": "Customer-get-info",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Bearer 1b07aea58c22b0ef07294532a1ed384"
            },
            "description": "Value to correlate API requests across systems.",
            "required": true
          },
          {
            "name": "X-Guest-Session",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "1b07aea58c22b0ef07294532a1ed384"
            },
            "description": "Токен гостя из МП. **Если передан данный параметр, то поле `customer` становится не обязательным**"
          },
          {
            "name": "X-source",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "enum",
              "enum": [
                "site",
                "app",
                "qr_menu"
              ],
              "example": "app"
            },
            "description": "Источник запроса.\r\n> `site` - сайт,<br />`app` - мобильное приложение,<br />`qr_menu` - QR меню."
          }
        ],
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "additionalProperties": false,
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/GetInfoByPhone"
                  },
                  {
                    "$ref": "#/components/schemas/GetInfoByGuestId"
                  },
                  {
                    "$ref": "#/components/schemas/GetInfoByExtUuid"
                  },
                  {
                    "$ref": "#/components/schemas/GetInfoByTelegramId"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            },
            "description": "Unauthorized"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error429"
                }
              }
            },
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/store/customer/create": {
      "post": {
        "tags": [
          "Гость"
        ],
        "summary": "Добавить гостя",
        "description": "Добавляет нового гостя, а так же обновляет уже имеющегося",
        "operationId": "Customer-add",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Bearer 1b07aea58c22b0ef07294532a1ed384"
            },
            "description": "Value to correlate API requests across systems.",
            "required": true
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "phone",
                  "gender",
                  "name"
                ],
                "properties": {
                  "phone": {
                    "type": "string",
                    "description": "Номер телефона в международном формате",
                    "example": "+7(999) 999-99-99"
                  },
                  "email": {
                    "type": "string",
                    "description": "E-mail адрес",
                    "example": "customer@remarked.ru"
                  },
                  "name": {
                    "type": "string",
                    "description": "Имя"
                  },
                  "surname": {
                    "type": "string",
                    "description": "Фамилия"
                  },
                  "midname": {
                    "type": "string",
                    "description": "Отчество"
                  },
                  "gender": {
                    "type": "string",
                    "description": "Половая принадлежность",
                    "enum": [
                      "male",
                      "female",
                      "not_specified"
                    ],
                    "example": "not_specified"
                  },
                  "birthday": {
                    "type": "string",
                    "format": "date",
                    "description": "Дата рождения",
                    "example": "1970-01-01"
                  },
                  "photo": {
                    "type": "string",
                    "description": "Ссылка на аватар",
                    "example": "https://remarked.ru/img.jpg"
                  },
                  "comment": {
                    "type": "string",
                    "description": "Комментарий к гостю"
                  },
                  "device_token": {
                    "type": "string",
                    "description": "Уникальный идентификатор устройства пользователя"
                  },
                  "firebase_token": {
                    "type": "string",
                    "description": "FCM токен"
                  },
                  "subscriptions": {
                    "type": "object",
                    "description": "Подписка на уведомления",
                    "properties": {
                      "type": {
                        "type": "string",
                        "format": "enum",
                        "enum": [
                          "firebase",
                          "sms",
                          "viber",
                          "cpush",
                          "email",
                          "whatsapp",
                          "cascad",
                          "telegram"
                        ]
                      },
                      "sub_type": {
                        "type": "string",
                        "default": "all",
                        "format": "enum",
                        "enum": [
                          "all",
                          "feedback",
                          "sender",
                          "segment",
                          "aftervisit",
                          "push",
                          "chat",
                          "scenario",
                          "notify"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "gid": {
                      "type": "string",
                      "description": "Id гостя в системе ремаркед"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            },
            "description": "Unauthorized"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error429"
                }
              }
            },
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/store/customer/payment-cards/list": {
      "post": {
        "tags": [
          "Гость"
        ],
        "summary": "Карты оплаты гостя",
        "description": "Банковские карты, привязанные к гостя для оплаты через онлайн-банкинг",
        "operationId": "Customer-payment-cards-list",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Bearer 1b07aea58c22b0ef07294532a1ed384"
            },
            "description": "Value to correlate API requests across systems.",
            "required": true
          },
          {
            "name": "X-Guest-Session",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "1b07aea58c22b0ef07294532a1ed384"
            },
            "description": "Токен гостя из МП. **Если передан данный параметр, то поле `customer` становится не обязательным**"
          },
          {
            "name": "X-source",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "enum",
              "enum": [
                "site",
                "app",
                "qr_menu"
              ],
              "example": "app"
            },
            "description": "Источник запроса.\r\n> `site` - сайт,<br />`app` - мобильное приложение,<br />`qr_menu` - QR меню."
          }
        ],
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "customer"
                ],
                "properties": {
                  "customer": {
                    "type": "integer",
                    "description": "Id гостя в системе Remarked",
                    "example": "1234567890"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BankCardResponse"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            },
            "description": "Unauthorized"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error429"
                }
              }
            },
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/store/customer/payment-cards/create": {
      "post": {
        "tags": [
          "Гость"
        ],
        "summary": "Новая карта оплаты гостя",
        "description": "Добалвяет новую банковскую карту в связки, для оплаты без последующего заполения информации о карте",
        "operationId": "Customer-payment-cards-create",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Bearer 1b07aea58c22b0ef07294532a1ed384"
            },
            "description": "Value to correlate API requests across systems.",
            "required": true
          },
          {
            "name": "X-Guest-Session",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "1b07aea58c22b0ef07294532a1ed384"
            },
            "description": "Токен гостя из МП. **Если передан данный параметр, то поле `customer` становится не обязательным**"
          },
          {
            "name": "X-source",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "enum",
              "enum": [
                "site",
                "app",
                "qr_menu"
              ],
              "example": "app"
            },
            "description": "Источник запроса.\r\n> `site` - сайт,<br />`app` - мобильное приложение,<br />`qr_menu` - QR меню."
          }
        ],
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "customer"
                ],
                "properties": {
                  "customer": {
                    "type": "integer",
                    "description": "Id гостя в системе Remarked",
                    "example": "1234567890"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "payment_link": {
                          "type": "string",
                          "description": "Ссылка на оплату для закрепления карты в приложении"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            },
            "description": "Unauthorized"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error429"
                }
              }
            },
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/store/customer/payment-cards/delete": {
      "post": {
        "tags": [
          "Гость"
        ],
        "summary": "Удалет карту гостя для оплаты",
        "description": "Удаляет банковскую карту из списка связок",
        "operationId": "Customer-payment-cards-delete",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Bearer 1b07aea58c22b0ef07294532a1ed384"
            },
            "description": "Value to correlate API requests across systems.",
            "required": true
          },
          {
            "name": "X-Guest-Session",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "1b07aea58c22b0ef07294532a1ed384"
            },
            "description": "Токен гостя из МП. **Если передан данный параметр, то поле `customer` становится не обязательным**"
          },
          {
            "name": "X-source",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "enum",
              "enum": [
                "site",
                "app",
                "qr_menu"
              ],
              "example": "app"
            },
            "description": "Источник запроса.\r\n> `site` - сайт,<br />`app` - мобильное приложение,<br />`qr_menu` - QR меню."
          }
        ],
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "customer",
                  "uuid"
                ],
                "properties": {
                  "customer": {
                    "type": "integer",
                    "description": "Id гостя в системе Remarked",
                    "example": "1234567890"
                  },
                  "uuid": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Id банковской карты в Remarked"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "removed": {
                          "type": "string",
                          "format": "uuid",
                          "description": "Id удаленной карты"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            },
            "description": "Unauthorized"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error429"
                }
              }
            },
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/store/nomenclature/composite": {
      "post": {
        "tags": [
          "Номенклатура"
        ],
        "summary": "Выгрузка меню из iikoOffice",
        "description": "Возвращает список товаров, групп и модификаторов без учета стоп-листов и прочих настроек",
        "operationId": "Nomenclature-composite",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Bearer 1b07aea58c22b0ef07294532a1ed384"
            },
            "description": "Value to correlate API requests across systems.",
            "required": true
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NomenclatureComposite"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            },
            "description": "Unauthorized"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error429"
                }
              }
            },
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/store/menu/by-type": {
      "post": {
        "tags": [
          "Номенклатура"
        ],
        "summary": "Меню по типу с учетом настроек в remarked",
        "description": "Возвращает меню по типу(сайт/приложение/куар-меню) с учетом настроек в remarked",
        "operationId": "Menu-by-type",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Bearer 1b07aea58c22b0ef07294532a1ed384"
            },
            "description": "Value to correlate API requests across systems.",
            "required": true
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "type",
                  "point"
                ],
                "properties": {
                  "point": {
                    "type": "integer",
                    "description": "ID заведения в Reamrked"
                  },
                  "type": {
                    "type": "string",
                    "description": "Тип меню(сайт/приложение/куар-меню) site/app/qr_menu"
                  },
                  "version": {
                    "type": "string",
                    "default": null,
                    "example": "2.0",
                    "description": "Версия меню, для работы с размерами товаров",
                    "enum": [
                      "1.0",
                      "2.0"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/MenuByTypeResponse"
                    },
                    {
                      "$ref": "#/components/schemas/MenuByTypeResponseV2"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            },
            "description": "Unauthorized"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error429"
                }
              }
            },
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/store/nomenclature/get-product": {
      "post": {
        "tags": [
          "Номенклатура"
        ],
        "summary": "Информация о товаре",
        "description": "Возвращает полную информацию о товаре",
        "operationId": "Nomenclature-get-product",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Bearer 1b07aea58c22b0ef07294532a1ed384"
            },
            "description": "Value to correlate API requests across systems.",
            "required": true
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "uuid",
                  "point"
                ],
                "properties": {
                  "point": {
                    "type": "integer",
                    "description": "ID заведения в Reamrked"
                  },
                  "uuid": {
                    "type": "string",
                    "format": "uuid",
                    "description": "ID товара в Reamrked"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "$ref": "#/components/schemas/GetItemResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            },
            "description": "Unauthorized"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error429"
                }
              }
            },
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/store/nomenclature/stop-list": {
      "post": {
        "tags": [
          "Номенклатура"
        ],
        "summary": "Стоп-лист",
        "description": "Возвращает список id товаров в стоп-листе",
        "operationId": "Nomenclature-stop-list",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Bearer 1b07aea58c22b0ef07294532a1ed384"
            },
            "description": "Value to correlate API requests across systems.",
            "required": true
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NomenclatureComposite"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StopListResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            },
            "description": "Unauthorized"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error429"
                }
              }
            },
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/store/nomenclature/scheme": {
      "post": {
        "tags": [
          "Номенклатура"
        ],
        "summary": "Технологические карты",
        "description": "Технологические карты товаров в iikoOffice",
        "operationId": "Nomenclature-scheme",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Bearer 1b07aea58c22b0ef07294532a1ed384"
            },
            "description": "Value to correlate API requests across systems.",
            "required": true
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NomenclatureSchemeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NomenclatureSchemeResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            },
            "description": "Unauthorized"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error429"
                }
              }
            },
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/store/cart": {
      "post": {
        "tags": [
          "Корзина"
        ],
        "summary": "Запросить корзину",
        "description": "Возвращает ранее заполненную корзину",
        "operationId": "Cart",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Bearer 1b07aea58c22b0ef07294532a1ed384"
            },
            "description": "Value to correlate API requests across systems.",
            "required": true
          },
          {
            "name": "X-Guest-Session",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "1b07aea58c22b0ef07294532a1ed384"
            },
            "description": "Токен гостя из МП. **Если передан данный параметр, то поле `customer` становится не обязательным**"
          },
          {
            "name": "X-source",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "enum",
              "enum": [
                "site",
                "app",
                "qr_menu"
              ],
              "example": "app"
            },
            "description": "Источник запроса.\r\n> `site` - сайт,<br />`app` - мобильное приложение,<br />`qr_menu` - QR меню."
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "customer"
                ],
                "properties": {
                  "customer": {
                    "type": "string",
                    "description": "ID гостя",
                    "example": "7999999"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CartResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            },
            "description": "Unauthorized"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error429"
                }
              }
            },
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/store/cart/add-item": {
      "post": {
        "tags": [
          "Корзина"
        ],
        "summary": "Добавить товар в корзину",
        "description": "",
        "operationId": "Cart-add-item",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Bearer 1b07aea58c22b0ef07294532a1ed384"
            },
            "description": "Value to correlate API requests across systems.",
            "required": true
          },
          {
            "name": "X-Guest-Session",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "1b07aea58c22b0ef07294532a1ed384"
            },
            "description": "Токен гостя из МП. **Если передан данный параметр, то поле `customer` становится не обязательным**"
          },
          {
            "name": "X-source",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "enum",
              "enum": [
                "site",
                "app",
                "qr_menu"
              ],
              "example": "app"
            },
            "description": "Источник запроса.\r\n> `site` - сайт,<br />`app` - мобильное приложение,<br />`qr_menu` - QR меню."
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "customer",
                  "item"
                ],
                "properties": {
                  "customer": {
                    "type": "string",
                    "description": "ID гостя",
                    "example": "7999999"
                  },
                  "point": {
                    "type": "integer",
                    "description": "Id заведения в remarked"
                  },
                  "item": {
                    "type": "object",
                    "required": [
                      "product_id",
                      "amount"
                    ],
                    "description": "товар",
                    "properties": {
                      "product_id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "id товара в меню"
                      },
                      "amount": {
                        "type": "integer",
                        "description": "кол-во в корзине"
                      },
                      "size": {
                        "type": "string",
                        "format": "uuid",
                        "description": "размер блюда",
                        "default": null
                      },
                      "is_gift": {
                        "type": "boolean",
                        "format": "boolean",
                        "description": "Является ли товар подарком",
                        "default": false
                      },
                      "modifiers": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [
                            "modifier_id",
                            "amount"
                          ],
                          "properties": {
                            "modifier_id": {
                              "type": "string",
                              "format": "uuid",
                              "description": "id модификатора в меню"
                            },
                            "amount": {
                              "type": "integer",
                              "description": "кол-во в корзине"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CartResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            },
            "description": "Unauthorized"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error429"
                }
              }
            },
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/store/cart/recount": {
      "post": {
        "tags": [
          "Корзина"
        ],
        "summary": "Обновить товар в корзине",
        "description": "Изменение кол-ва блюда/модификаторов в корзине",
        "operationId": "Cart-recount",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Bearer 1b07aea58c22b0ef07294532a1ed384"
            },
            "description": "Value to correlate API requests across systems.",
            "required": true
          },
          {
            "name": "X-Guest-Session",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "1b07aea58c22b0ef07294532a1ed384"
            },
            "description": "Токен гостя из МП. **Если передан данный параметр, то поле `customer` становится не обязательным**"
          },
          {
            "name": "X-source",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "enum",
              "enum": [
                "site",
                "app",
                "qr_menu"
              ],
              "example": "app"
            },
            "description": "Источник запроса.\r\n> `site` - сайт,<br />`app` - мобильное приложение,<br />`qr_menu` - QR меню."
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "customer",
                  "item"
                ],
                "properties": {
                  "customer": {
                    "type": "string",
                    "description": "ID гостя",
                    "example": "7999999"
                  },
                  "item": {
                    "type": "object",
                    "required": [
                      "uuid",
                      "amount"
                    ],
                    "description": "товар",
                    "properties": {
                      "uuid": {
                        "type": "string",
                        "format": "uuid",
                        "description": "id товара в корзине"
                      },
                      "amount": {
                        "type": "integer",
                        "description": "кол-во в корзине"
                      },
                      "modifiers": {
                        "description": "Если данный параметр передан пустым, удаляются ранее выбранные модификаторы к блюду",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "description": "Список выбранных модификаторов",
                          "required": [
                            "modifier_id",
                            "amount"
                          ],
                          "properties": {
                            "modifier_id": {
                              "type": "string",
                              "format": "uuid",
                              "description": "id модификатора в меню"
                            },
                            "amount": {
                              "type": "integer",
                              "description": "кол-во в корзине"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CartResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            },
            "description": "Unauthorized"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error429"
                }
              }
            },
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/store/cart/remove-item": {
      "post": {
        "tags": [
          "Корзина"
        ],
        "summary": "Удалить товар из корзины",
        "description": "Удаляет позицию из корзины вместе с модификаторами",
        "operationId": "Cart-remove-item",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Bearer 1b07aea58c22b0ef07294532a1ed384"
            },
            "description": "Value to correlate API requests across systems.",
            "required": true
          },
          {
            "name": "X-Guest-Session",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "1b07aea58c22b0ef07294532a1ed384"
            },
            "description": "Токен гостя из МП. **Если передан данный параметр, то поле `customer` становится не обязательным**"
          },
          {
            "name": "X-source",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "enum",
              "enum": [
                "site",
                "app",
                "qr_menu"
              ],
              "example": "app"
            },
            "description": "Источник запроса.\r\n> `site` - сайт,<br />`app` - мобильное приложение,<br />`qr_menu` - QR меню."
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "customer",
                  "uuid"
                ],
                "properties": {
                  "customer": {
                    "type": "string",
                    "description": "ID гостя",
                    "example": "7999999"
                  },
                  "uuid": {
                    "type": "string",
                    "format": "uuid",
                    "description": "id товара в корзине"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CartResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            },
            "description": "Unauthorized"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error429"
                }
              }
            },
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/store/cart/update": {
      "post": {
        "tags": [
          "Корзина"
        ],
        "summary": "Обновление корзины",
        "description": "Обновляет состояние корзины. Добавляет промокоды/скидки/сертификаты/ареса и п.р.\r\n>Важно: корзину можно обновлять частично, не передавая каждый раз все параметры.",
        "operationId": "Cart-update",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Bearer 1b07aea58c22b0ef07294532a1ed384"
            },
            "description": "Value to correlate API requests across systems.",
            "required": true
          },
          {
            "name": "X-Guest-Session",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "1b07aea58c22b0ef07294532a1ed384"
            },
            "description": "Токен гостя из МП. **Если передан данный параметр, то поле `customer` становится не обязательным**"
          },
          {
            "name": "X-source",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "enum",
              "enum": [
                "site",
                "app",
                "qr_menu"
              ],
              "example": "app"
            },
            "description": "Источник запроса.\r\n> `site` - сайт,<br />`app` - мобильное приложение,<br />`qr_menu` - QR меню."
          }
        ],
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "customer",
                  "cart"
                ],
                "properties": {
                  "customer": {
                    "type": "string",
                    "description": "ID гостя",
                    "example": "7999999"
                  },
                  "cart": {
                    "description": "Данные корзины",
                    "discriminator": {
                      "propertyName": "delivery_type",
                      "mapping": {
                        "byCourier": "#/components/schemas/courier",
                        "byGuest": "#/components/schemas/pickup",
                        "courier": "#/components/schemas/courier",
                        "pickup": "#/components/schemas/pickup",
                        "table": "#/components/schemas/table",
                        "takeaway": "#/components/schemas/takeaway"
                      }
                    },
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/courier"
                      },
                      {
                        "$ref": "#/components/schemas/pickup"
                      },
                      {
                        "$ref": "#/components/schemas/courier"
                      },
                      {
                        "$ref": "#/components/schemas/pickup"
                      },
                      {
                        "$ref": "#/components/schemas/table"
                      },
                      {
                        "$ref": "#/components/schemas/takeaway"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CartResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            },
            "description": "Unauthorized"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error429"
                }
              }
            },
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/store/cart/clear": {
      "post": {
        "tags": [
          "Корзина"
        ],
        "summary": "Очистка корзины",
        "description": "Удаляет все товары из корзины, очищает купоны, адреса доставки и т.д",
        "operationId": "Cart-clear",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Bearer 1b07aea58c22b0ef07294532a1ed384"
            },
            "description": "Value to correlate API requests across systems.",
            "required": true
          },
          {
            "name": "X-Guest-Session",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "1b07aea58c22b0ef07294532a1ed384"
            },
            "description": "Токен гостя из МП. **Если передан данный параметр, то поле `customer` становится не обязательным**"
          },
          {
            "name": "X-source",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "enum",
              "enum": [
                "site",
                "app",
                "qr_menu"
              ],
              "example": "app"
            },
            "description": "Источник запроса.\r\n> `site` - сайт,<br />`app` - мобильное приложение,<br />`qr_menu` - QR меню."
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "customer",
                  "cart"
                ],
                "properties": {
                  "customer": {
                    "type": "string",
                    "description": "ID гостя",
                    "example": "7999999"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CartClearResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            },
            "description": "Unauthorized"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error429"
                }
              }
            },
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/store/cart/reload": {
      "post": {
        "tags": [
          "Корзина"
        ],
        "summary": "Восстановление корзины",
        "description": "Возвращает корзине режим наполнения",
        "operationId": "Cart-reload",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Bearer 1b07aea58c22b0ef07294532a1ed384"
            },
            "description": "Value to correlate API requests across systems.",
            "required": true
          },
          {
            "name": "X-Guest-Session",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "1b07aea58c22b0ef07294532a1ed384"
            },
            "description": "Токен гостя из МП. **Если передан данный параметр, то поле `customer` становится не обязательным**"
          },
          {
            "name": "X-source",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "enum",
              "enum": [
                "site",
                "app",
                "qr_menu"
              ],
              "example": "app"
            },
            "description": "Источник запроса.\r\n> `site` - сайт,<br />`app` - мобильное приложение,<br />`qr_menu` - QR меню."
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "customer",
                  "order_id"
                ],
                "properties": {
                  "customer": {
                    "type": "string",
                    "description": "ID гостя",
                    "example": "7999999"
                  },
                  "order_id": {
                    "type": "string",
                    "description": "ID заказа",
                    "format": "uuid"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CartResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            },
            "description": "Unauthorized"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error429"
                }
              }
            },
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/store/orders/create": {
      "post": {
        "tags": [
          "Заказы"
        ],
        "summary": "Оформление заказа",
        "description": "Создание заказа в remarked на основании корзины",
        "operationId": "Orders-Cart-checkout",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Bearer 1b07aea58c22b0ef07294532a1ed384"
            },
            "description": "Value to correlate API requests across systems.",
            "required": true
          },
          {
            "name": "X-Guest-Session",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "1b07aea58c22b0ef07294532a1ed384"
            },
            "description": "Токен гостя из МП. **Если передан данный параметр, то поле `customer` становится не обязательным**"
          },
          {
            "name": "X-source",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "enum",
              "enum": [
                "site",
                "app",
                "qr_menu"
              ],
              "example": "app"
            },
            "description": "Источник запроса.\r\n> `site` - сайт,<br />`app` - мобильное приложение,<br />`qr_menu` - QR меню."
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "customer",
                  "source",
                  "order"
                ],
                "properties": {
                  "customer": {
                    "type": "integer",
                    "description": "ID гостя",
                    "example": "7999999"
                  },
                  "source": {
                    "type": "string",
                    "format": "enum",
                    "enum": [
                      "site",
                      "app",
                      "qr_menu"
                    ],
                    "example": "app",
                    "description": "Источник запроса.\r\n> `site` - сайт,<br />`app` - мобильное приложение,<br />`qr_menu` - QR меню."
                  },
                  "order": {
                    "type": "object",
                    "required": [
                      "delivery_type",
                      "payment_method"
                    ],
                    "description": "товар",
                    "properties": {
                      "guest": {
                        "type": "object",
                        "description": "Данные о госте",
                        "properties": {
                          "name": {
                            "type": "string",
                            "format": "name",
                            "description": "Имя гостя для чека"
                          },
                          "email": {
                            "type": "string",
                            "format": "email",
                            "description": "Email гостя, куда будет отправлен чек"
                          }
                        }
                      },
                      "point": {
                        "type": "integer",
                        "format": "int64",
                        "description": "Id заведения, куда нужно будет отправить заказ"
                      },
                      "delivery_type": {
                        "type": "string",
                        "format": "enum",
                        "description": "Тип доставки.\r\n>`byCourier` - курьером<br /> `byGuest` - самовывоз<br />`courier` - доставка курьером<br />`pickup` - самовывоз из заведения<br />`table` - продажа на столик<br />`takeaway` - продажа на вынос<br />",
                        "enum": [
                          "byCourier",
                          "byGuest",
                          "courier",
                          "pickup",
                          "table",
                          "takeaway"
                        ]
                      },
                      "address": {
                        "description": "Адрес доставки. Передавать в случае, если выбран тип доставки `byCourier`",
                        "type": "object",
                        "required": [
                          "uuid",
                          "cart"
                        ],
                        "properties": {
                          "uuid": {
                            "type": "string",
                            "format": "uuid",
                            "description": "Id адреса в Remarked"
                          },
                          "entrance": {
                            "type": "integer",
                            "format": "int64",
                            "description": "Подъезд"
                          },
                          "floor": {
                            "type": "integer",
                            "format": "int64",
                            "description": "Этаж"
                          },
                          "apartment": {
                            "type": "string",
                            "description": "Квартира"
                          },
                          "comment": {
                            "type": "string",
                            "description": "Комментарий к адресу"
                          }
                        }
                      },
                      "leave_at_door": {
                        "type": "boolean",
                        "description": "оставить у двери"
                      },
                      "complete_before": {
                        "type": "integer",
                        "format": "timeStamp",
                        "description": "Время, к которому нужно завершить доставку/приготовить заказ"
                      },
                      "promocode": {
                        "type": "string",
                        "description": "Купон/промокод, применный к заказу"
                      },
                      "certificate": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Номер/Код сертификата"
                          }
                        }
                      },
                      "payment_info": {
                        "type": "object",
                        "required": [
                          "payment_method"
                        ],
                        "properties": {
                          "payment_method": {
                            "type": "string",
                            "format": "enum",
                            "description": "Метод оплаты.\r\n>`cash` - Наличные курьеру/на кассе<br /> `online` - Онлайн<br /> `card` - картой курьеру/на кассе<br />`sbp` - онлайн оплата через СБП",
                            "enum": [
                              "cash",
                              "card",
                              "online",
                              "sbp"
                            ]
                          },
                          "payment_type": {
                            "readOnly": true,
                            "type": "string",
                            "format": "uuid",
                            "description": "Тип оплаты `СПБ/QR-code/Выбор карты для оплаты`.\r\n>Передается в случае, если выбрали онлайн-оплату - `card`"
                          },
                          "bank_card": {
                            "type": "string",
                            "format": "uuid",
                            "default": null,
                            "description": "Id карты гостя из сохраненных"
                          },
                          "change_witch": {
                            "deprecated": true,
                            "type": "number",
                            "description": "Сдача с суммы"
                          },
                          "change_with": {
                            "example": 1000,
                            "type": "number",
                            "description": "Сдача с суммы"
                          }
                        }
                      },
                      "bonuses": {
                        "description": "Бонусы",
                        "type": "object",
                        "required": [
                          "operation"
                        ],
                        "properties": {
                          "operation": {
                            "type": "string",
                            "format": "enum",
                            "description": "Действие с бонусным счетом гостя.\r\n>`withdraw` - спишет с гостя бонусы, на основании программы лояльности<br />`refill` - начислит гостю бонусы за заказ",
                            "enum": [
                              "withdraw",
                              "refill"
                            ]
                          },
                          "sum": {
                            "type": "integer",
                            "format": "int64",
                            "description": "Сумма бонусов к начислению/списанию"
                          }
                        }
                      },
                      "tableware": {
                        "type": "integer",
                        "format": "int64",
                        "description": "Количество приборов"
                      },
                      "customer_comment": {
                        "type": "string",
                        "description": "Комментарий к заказу"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "order_id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "id заказа в remarked"
                        },
                        "payment": {
                          "type": "object",
                          "description": "Оплата заказа",
                          "properties": {
                            "type": {
                              "type": "string",
                              "format": "enum",
                              "enum": [
                                "qr_code",
                                "card",
                                "cash"
                              ]
                            },
                            "link": {
                              "type": "string",
                              "default": null
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            },
            "description": "Unauthorized"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error429"
                }
              }
            },
            "description": "Too Many Requests"
          }
        }
      }
    },
    "/store/orders/list": {
      "post": {
        "tags": [
          "Заказы"
        ],
        "summary": "Список заказов гостя",
        "description": "",
        "operationId": "Orders",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Bearer 1b07aea58c22b0ef07294532a1ed384"
            },
            "description": "Value to correlate API requests across systems.",
            "required": true
          },
          {
            "name": "X-Guest-Session",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "1b07aea58c22b0ef07294532a1ed384"
            },
[...]
