# ==========================================
# Ядро проекта
# ==========================================
Django==5.2.14

# ==========================================
# Админ-панель
# ==========================================
django-jazzmin>=3.0.1

# ==========================================
# Окружение и настройки
# ==========================================
# Чтение переменных из .env файла
django-environ==0.13.0

# ==========================================
# База данных
# ==========================================
# Драйвер для работы с PostgreSQL
psycopg2-binary==2.9.12

# ==========================================
# Фоновые задачи и Кэш
# ==========================================
# Клиент для Redis
redis==7.4.0
# Брокер задач
celery==5.6.3
# Веб-мониторинг Celery
flower==2.0.1

# ==========================================
# Работа с файлами и S3
# ==========================================
# Интеграция с S3-совместимыми хранилищами
django-storages[boto3]==1.14.6

# ==========================================
# Продакшен сервер
# ==========================================
# WSGI-сервер, который будет запускать Django в Docker
gunicorn==26.0.0

# API
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1

# Изображение
Pillow==10.3.0

# filter
django-filter==24.2

firebase-admin==6.5.0

# API документация
drf-spectacular==0.29.0

# CORS
django-cors-headers==4.9.0

# requests
requests==2.34.1

# ==========================================
# Обработка видео
# ==========================================
# Python-обёртка над FFmpeg для транскодирования видео блюд
ffmpeg-python==0.2.0
